:root {
    --test-main-color: #B3D9B4
}

/*The library page container*/
.gamepadtabbedpage_TabContents_WDa0_{
    background: var(--test-main-color);
}


/*Library view top nav bar (all games, installed, favorites, etc.)*/
.gamepadtabbedpage_TabHeaderRowWrapper_2Jobs {
    box-shadow: 0px 0px 10px black;
}

/*Unselected label text contained in above*/
.gamepadtabbedpage_Tab_3eEbS{
    color: white;
}

/*Selected label text from above*/
.gamepadtabbedpage_Selected_3Gp1b.gpfocus{
    color: #ffc8dd !important;
    background: white !important;
}


.gamepadtabbedpage_Selected_3Gp1b.gpfocus > .gamepadtabbedpage_TabCount_1ui4I{
    color: #ff5d9b !important;
}

/*Game hour count category labels (over 100 hours label, etc.)*/
.appgrid_AppGridSectionLabel_2hvQb{
    color: white;
}

/*Individual game hour tag (appears under game picture)*/
.appportrait_LibraryItemBoxSubscript_1LJqx{
    background-color: #A2D2E3 !important;
}

/*Header icons (wifi, battery, etc)*/
#header > .header_HeaderItem_2HnVd:not(.gpfocus) {
    background: #A2D2E3
}


/*The search bar*/
#header .searchbar_SearchContainer_161Tj.searchbar_ForceExpanded_1bmuJ:not(gpsource){
    background: #e4f5ff
}

/* Search bar magnifying glass */
.searchbar_SearchContainer_161Tj > svg > path{
    fill: #ffc8dd !important;
}

#Footer.footer_BasicFooter_3T1iF{
    background: #A2D2E3;
    box-shadow: 0px 0px 10px black;
}


#Footer .actionbuttonlegenditem_ActionButtonLabel_31Jnn{
    color: white
}

#Footer .appgrid_CompatFooterIcons_3wP0R{
    background-color: white;

}

/*Filter modal*/
div.steamdeckcompatfilter_DialogWrapper_143i9{
    background: #b390d3;
    border: 2px solid #b390d3;
}

/*Filter modal inner dialog*/
div.steamdeckcompatfilter_DialogWrapper_143i9 > div{
    background: #b390d3;
    border: 2px solid #b390d3;
}


div.steamdeckcompatfilter_CompatFilterDialogRow_O7cW3:not(.gpfocus){
    background:#d2c4df !important;
    color: black;
}

div.steamdeckcompatfilter_CompatFilterDialogRow_O7cW3.gpfocus{
    color: black;
}
